{:paths ["src"]
 :deps {com.cognitect.aws/api       {:mvn/version "0.8.515"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.65"}
        com.cognitect.aws/s3        {:mvn/version "814.2.978.0"}}}
